.ProseMirror {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  cursor: text;
  z-index: 0;
  padding: 8px 12px;
}

.ProseMirror.ProseMirror-focused {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  pointer-events: none;
  float: left;
  height: 0;
  color: #666666; /* Ganti dengan warna accent-foreground yang diinginkan */
  content: attr(data-placeholder);
}

.ProseMirror h1.is-empty:nth-child(1)::before,
.ProseMirror p.is-empty:nth-child(2):last-child::before {
  pointer-events: none;
  float: left;
  height: 0;
  color: #999999 !important; /* Ganti dengan warna muted-foreground yang diinginkan */
  content: attr(data-placeholder);
}